.rtwbmal_dashboard_wrapper *{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
   -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.rtwbmal_dashboard_wrapper {
	background-color: #ffffff;
}
.rtwbmal_dashboard {
	display: flex;
    flex-wrap: wrap;
}
.rtwbmal_dashboard_column {
	flex: 0 0 33.333%;
    max-width: 33.333%;
    padding-left: 10px;
    padding-right: 10px;
}
.rtwbmal_dashboard_inner_content {
	padding: 20px;
	border: 1px solid #edf2f9;
	margin: 15px 0;
	border-radius: 4px;
	box-shadow: 1px 2px 15px rgba(0,0,0,0.1);
}
.rtwbmal_dashboard_inner_content .rtwbmal_dashboard_title {
	margin: 0 0 10px 0;
    font-size: 15px;
    position: relative;
}
.rtwbmal_dashboard_tooltip_wrapper{
    position: relative;
    display: inline-block;
    cursor: help;
}
.rtwbmal_dashboard_tooltip {
	position: absolute;
	background-color: #444;
	width: 240px;
	color: #ffffff;
	font-size: 12px;
	padding: 5px 10px;
	text-align: center;
	border-radius: 4px;
	top: -52px;
    right: -122px;
    opacity: 0;
    transform: translateY(10px);
    visibility: hidden;
    transition: 0.3s linear all;
    opacity: 0;
}
.rtwbmal_dashboard_tooltip_wrapper:hover  .rtwbmal_dashboard_tooltip{
    opacity: 1;
    visibility: visible;
    transition: 0.3s linear all;
    transform: translateY(0);
}
.rtwbmal_dashboard_tooltip::after {
	content: "";
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #444;
	position: absolute;
	bottom: -6px;
	right: 50%;
}
.rtwbmal_dashboard_inner_content .rtwbmal_dashboard_value {
	color: #2a1a5e;
	font-size: 30px;
    line-height: 1;
    font-weight: 700;
}
.rtwbmal_dashboard_table_wrapper{
	width: 100%;
}
.rtwbmal_dashboard_tabs ul {
	margin: 0;
    padding: 0;
    border-bottom: 1px solid #efefef;
}
.rtwbmal_dashboard_tabs ul li {
    display: inline-block;
    margin: 0;
}
.rtwbmal_dashboard_tabs ul li a {
	display: block;
	text-decoration: none;
	color: #000000;
    font-size: 15px;
    padding: 7px 10px;
    border-radius: 4px;
}
.rtwbmal_dashboard_tabs ul li a.active {
	background-color: #2a1a5e;
	color: #fff;
}
.rtwbmal_dashboard_tabs-content table {
    width: 100%;
    border-collapse: collapse;
}
.rtwbmal_dashboard_tabs-content table  th,
.rtwbmal_dashboard_tabs-content table  td{
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #efefef;
}
.rtwbmal_dashboard_tabs-content {
    display: none;
}
.rtwbmal_dashboard_tabs-content.show{
    display: block;
}
.rtwbmal_dashboard_tabs-content table  th{
    padding: 15px 10px;
}
.rtwbmal_dashboard_progress_bar {
	background-color: #dddddd;
	height: 6px;
	border-radius: 10px;
	display: inline-block;
	width: 67%;
    margin-left: 8%;
    overflow: hidden;
}
.rtwbmal_dashboard_progress_inner_bar {
	background-color: #ef9434;
	/* width: 32%; */
	height: 100%;
}
.rtwbmal_dashboard_placeholder_image {
	display: inline-flex;
	width: 50px;
	height: 50px;
	background-color: #2a1a5e;
	vertical-align: middle;
	margin-right: 15px;
    border-radius: 6px;
    align-items: center;
    justify-content: center;
}
.rtwbmal_page_contents {
	justify-content: center;
	flex-wrap: wrap;
	background-color: #fff;
	padding: 20px;
	/* margin-top: 20px; */
	border-top: 4px solid #2a1a5e;
	border-radius: 3px;
}

.rtwbmal_bar_chart {
    width: 48%;
    height: auto;
    margin-top: 30px;
    padding: 20px;
    background-color: #fff;
    margin-left: 2%;
    box-shadow: 0 2px 20px rgba(0,0,0,.12);
    border-radius: 6px;
}
.rtwbmal_bar_chart.rtwbmal_bar_full_chart {
    width: 31%;
}
.rtwbmal_bar_chart_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -20px;
}
.rtwbmal_sub_heading {
    font-size: 30px;
    text-align: center;
    color: #676767;
    font-weight: normal;
    margin-bottom: 30px;
    line-height: 1.2;
    margin-top: 0;
}

