.rtwbmal_sms_codes{
	max-height: 300px;
	overflow: auto;
}
.error{
	border-color: red !important;
	color: red  !important;
}
.rtwbmal_noti {
	flex: 0 0 100%;
	margin-left: 2%;
	margin-right: 2%;
}
.rtwbmal_noti_header_in {
 	display: flex;
 	align-items: center;
}
.rtwbmal_noti_header_in > span {
	width: 33.333%;
	padding-right: 10px;
	font-weight: 700;
	letter-spacing: 1px;
}
.rtwbmal_noti_header {
 	background-color: #eeeeee;
 	padding: 20px;
	 margin-top: 15px;
	 box-shadow: 0 2px 3px rgba(0,0,0,.1),0 0 15px rgba(0,0,0,.07);
	-webkit-box-shadow: 0 2px 3px rgba(0,0,0,.1),0 0 15px rgba(0,0,0,.07);
	-moz-box-shadow: 0 2px 3px rgba(0,0,0,.1),0 0 15px rgba(0,0,0,.07);
	-ms-box-shadow: 0 2px 3px rgba(0,0,0,.1),0 0 15px rgba(0,0,0,.07);
	-o-box-shadow: 0 2px 3px rgba(0,0,0,.1),0 0 15px rgba(0,0,0,.07);
}
.rtwbmal_noti_list .rtwbmal_single_noti {
	display: flex;
	justify-content: center;
	border: 1px solid #dddddd;
	padding: 18px 20px;
	align-items: center;
	position: relative;
	margin-bottom: 10px;
	font-size: 14px;
}
.rtwbmal_noti_img {
	width: 40px;
	position: absolute;
	left: 15px;
	top: 50%;
	transform: translateY(-50%);
}
.rtwbmal_noti_name_add_noti {
	display: flex;
	width: 100%;
}
.rtwbmal_noti_name_add_noti > div {
	width: 2533.333%;
	text-align: left;
	padding-right: 10px;
}
.rtwbmal_noti_edit_del ul {
	display: flex;
	margin: 0;
}
.rtwbmal_noti_edit_del ul li {
	margin: 0 4px;
}
.rtwbmal_noti_edit_del ul li a {
	color: #777777;
}
.rtwbmal_selected {
	border: none;
}
.rtwbmal_sms_codess td{
	padding: 0;
}
.rtwbmal_sms_codess{
	width: 100%;
}
.rtwbmal_popup_body{
	height: 350px;
}
.rtwbmal_sms_noti_input_wrap {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.rtwbmal_sms_noti_input_wrap label {
	max-width: 20%;
	flex: 0 0 20%;
	margin-bottom: 15px;
}
.rtwbmal_sms_noti_div{
	max-width: 80%;
	flex: 0 0 80%;
	margin-bottom: 15px;
}
.rtwbmal_sms_noti_input_wrap  .rtwbmal_sms_noti_div input[type="text"]{
	width: 100%;
	display: block;
}
.rtwbmal_detail_form {
	border: 1px solid #ddd;
	padding: 20px;
	background-color: #efefef;
}
.rtwbmal_api_tabs {
    background-color: #f4f4f4;
}
.rtwbmal_api_tabs::after {
    clear: both;
    display: block;
    content: "";
}
.rtwbmal_api_tabs span {
    padding: 20px 30px;
    float: left;
    width: 50%;
    text-align: center;
    cursor: pointer;
}
.rtwbmal_api_tabs span.rtwbmalactive{
	background-color: #e1dfdf;
}
.rtwbmal_class_inline{
	display: inherit;
}
/* *********** */
.table {
	width: 100%;
	max-width: 100%;
	margin-bottom: 20px;
}
.table {
	background-color: transparent;
}
.table {
	border-collapse: collapse;
	border-spacing: 0;
}
.table > thead > tr > th {
	padding: 8px;
	vertical-align: bottom;
	border-bottom: 2px solid #ddd;
	text-align: left;
}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
	padding: 8px;
	line-height: 1.42857;
	vertical-align: top;
	border-top: 1px solid #ddd;
}
.rtwbmal_pro_text{
	width: 100%;
}